[Unit]
Description={{ description }}

[Service]
Type=simple

Restart=always
RestartSec=2

{% for k, v in env.items() -%}
Environment={{ k }}={{ v }}
{%- endfor %}

WorkingDirectory={{ WORKING_DIR }}

ExecStart={{ PYTHON_CMD }} -m flask run

StandardOutput=append:{{ LOGGING_DIR }}/{{ SERVICE }}.{{ CONFIG }}.std.log
StandardError=append:{{ LOGGING_DIR }}/{{ SERVICE }}.{{ CONFIG }}.std.log

KillMode=mixed
TimeoutStopSec=3
PrivateTmp=true

[Install]
WantedBy=multi-user.target
